
body {
  font-family: 'Roboto', sans-serif;
}

/* Reutilizables */

.vh100 {
  height: 100vh;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white {
  color: #ffffff;
}

.no-padding {
  padding: 0;
}

/* Index */

.grad70 {
  background: linear-gradient(rgb(97, 9, 132) 20%, rgb(244, 51, 202));
}

/* Register */

.lyft {
  background-image: url('../assets/images/lyft-background.jpg');
}

.logo-white {
  height: 40px;
  width: 60px;
}

.logo-magenta {
  height: 300px;
  margin-top: 25%;
  width: 100%;
}

.btns {
margin-top: 140px; 
}

.button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 2rem 3rem;
}

/* Sign Up */

.btn-circle {
  border: 2px solid black;
  border-radius: 50px;
  color: black;
  display: inline-block;
  padding: 0.5rem;
  width: 30px;
}

.input-modif {
  display: inline-block;
  width: 80%;
}

.small-img {
  height: 20px;
  width: 20px;
}

.signup {
  background-color: silver;
  padding: 1.5rem 0;
  width: 100%;
}